[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
jupyter = "*"
flask = "*"
flask-sqlalchemy = "*"
jinja2 = "*"
gunicorn = "*"
bs4 = "*"
requests = "*"
sodapy = "*"
psycopg2 = "*"
matplotlib = "*"
seaborn = "*"
geopy = "*"
folium = "*"
rasterio = "*"
earthpy = "*"
gensim = "*"
spacy = "*"
pyldavis = "*"

[dev-packages]

[requires]
python_version = "3.9"
