<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ffcf387b3f2446d9ab585c7094e23683 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ffcf387b3f2446d9ab585c7094e23683" ></div>
        
</body>
<script>    
    
            var map_ffcf387b3f2446d9ab585c7094e23683 = L.map(
                "map_ffcf387b3f2446d9ab585c7094e23683",
                {
                    center: [39.816075, -75.61312],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1fefe15b5db34d0e81e984e11ed61364 = L.tileLayer(
                "https://api.mapbox.com/styles/v1/jenfaith/ckm3ufeuf0v8y17qqi8d7gfre/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiamVuZmFpdGgiLCJhIjoiY2ttM3QzYnI1MDhzZTJucWRubXlzMHphdCJ9.3FsZLNb_YZlAwssJDfV4Cw",
                {"attribution": "Map Box Attribute", "detectRetina": false, "minZoom": 4, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var marker_8370f2dd7d4445a8b38e4978fdde3e86 = L.marker(
                [39.816075, -75.535454],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_b1491d1257f54fb88855ff6bf6c3f3f0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_8370f2dd7d4445a8b38e4978fdde3e86.setIcon(icon_b1491d1257f54fb88855ff6bf6c3f3f0);
        
    
        var popup_8b17eb9224804242b961950915ed47fd = L.popup({"maxWidth": "100%"});

        
            var html_39ee0e8c66504c0292a1950334fc7810 = $(`<div id="html_39ee0e8c66504c0292a1950334fc7810" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=SHIPLEY+MANOR target="_blank">SHIPLEY MANOR</a></div>`)[0];
            popup_8b17eb9224804242b961950915ed47fd.setContent(html_39ee0e8c66504c0292a1950334fc7810);
        

        marker_8370f2dd7d4445a8b38e4978fdde3e86.bindPopup(popup_8b17eb9224804242b961950915ed47fd)
        ;

        
    
    
            var marker_7d3545cc8ab546b0a4442fc72559b15c = L.marker(
                [39.760919, -75.61312],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_392524fe05124cd488f600015192333d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_7d3545cc8ab546b0a4442fc72559b15c.setIcon(icon_392524fe05124cd488f600015192333d);
        
    
        var popup_88da37847e5d4186bee4623697db99ad = L.popup({"maxWidth": "100%"});

        
            var html_5a190ba03f294dbe94dacb07cbed4cfb = $(`<div id="html_5a190ba03f294dbe94dacb07cbed4cfb" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=WESTON+SENIOR+LIVING+CENTER+AT+HIGHFIELD target="_blank">WESTON SENIOR LIVING CENTER AT HIGHFIELD</a></div>`)[0];
            popup_88da37847e5d4186bee4623697db99ad.setContent(html_5a190ba03f294dbe94dacb07cbed4cfb);
        

        marker_7d3545cc8ab546b0a4442fc72559b15c.bindPopup(popup_88da37847e5d4186bee4623697db99ad)
        ;

        
    
    
            var marker_a82c924bcea1433baa909747b7da7c33 = L.marker(
                [39.794937, -75.606887],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_a2a091462bd444dbb14a16512cf20d36 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_a82c924bcea1433baa909747b7da7c33.setIcon(icon_a2a091462bd444dbb14a16512cf20d36);
        
    
        var popup_87d5dec31a07442fb474185bf1e1548b = L.popup({"maxWidth": "100%"});

        
            var html_ed845b6d5b4941438f3ca270565b22de = $(`<div id="html_ed845b6d5b4941438f3ca270565b22de" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=WILLOWBROOKE+COURT+AT+COUNTRY+HOUSE target="_blank">WILLOWBROOKE COURT AT COUNTRY HOUSE</a></div>`)[0];
            popup_87d5dec31a07442fb474185bf1e1548b.setContent(html_ed845b6d5b4941438f3ca270565b22de);
        

        marker_a82c924bcea1433baa909747b7da7c33.bindPopup(popup_87d5dec31a07442fb474185bf1e1548b)
        ;

        
    
    
            var marker_bf4341127d1a42f4b87dcd7579cddfec = L.marker(
                [39.808573, -75.539564],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_b8319757b2094e479736312bdeafb6aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_bf4341127d1a42f4b87dcd7579cddfec.setIcon(icon_b8319757b2094e479736312bdeafb6aa);
        
    
        var popup_753d0310a79a434399750e2002b2aef0 = L.popup({"maxWidth": "100%"});

        
            var html_5291f80193684c128946d7260d747a02 = $(`<div id="html_5291f80193684c128946d7260d747a02" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=CADIA+REHABILITATION+SILVERSIDE target="_blank">CADIA REHABILITATION SILVERSIDE</a></div>`)[0];
            popup_753d0310a79a434399750e2002b2aef0.setContent(html_5291f80193684c128946d7260d747a02);
        

        marker_bf4341127d1a42f4b87dcd7579cddfec.bindPopup(popup_753d0310a79a434399750e2002b2aef0)
        ;

        
    
    
            var marker_8dfee98720c44a9387d9febfc6ce12b3 = L.marker(
                [38.65231, -75.59824300000001],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_1973b18d575f4524b83fd454dd4742e6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_8dfee98720c44a9387d9febfc6ce12b3.setIcon(icon_1973b18d575f4524b83fd454dd4742e6);
        
    
        var popup_01ed46033ce6457986cd3283edff23df = L.popup({"maxWidth": "100%"});

        
            var html_6feafd32193a49b2a6ce5573fc762bbf = $(`<div id="html_6feafd32193a49b2a6ce5573fc762bbf" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=SEAFORD+CENTER target="_blank">SEAFORD CENTER</a></div>`)[0];
            popup_01ed46033ce6457986cd3283edff23df.setContent(html_6feafd32193a49b2a6ce5573fc762bbf);
        

        marker_8dfee98720c44a9387d9febfc6ce12b3.bindPopup(popup_01ed46033ce6457986cd3283edff23df)
        ;

        
    
    
            var marker_2fd91e4e59544a2b92a0847ec4a1a731 = L.marker(
                [38.643429, -75.607089],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_772f1e5dfea34ff0b2e7889720807242 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_2fd91e4e59544a2b92a0847ec4a1a731.setIcon(icon_772f1e5dfea34ff0b2e7889720807242);
        
    
        var popup_19b2ec6828af466aa6e5d68d7918b688 = L.popup({"maxWidth": "100%"});

        
            var html_a7cf8883cc364312994acc55a398adb7 = $(`<div id="html_a7cf8883cc364312994acc55a398adb7" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=LOFLAND+PARK+CENTER target="_blank">LOFLAND PARK CENTER</a></div>`)[0];
            popup_19b2ec6828af466aa6e5d68d7918b688.setContent(html_a7cf8883cc364312994acc55a398adb7);
        

        marker_2fd91e4e59544a2b92a0847ec4a1a731.bindPopup(popup_19b2ec6828af466aa6e5d68d7918b688)
        ;

        
    
    
            var marker_f82bbfe1c4bb467e9281820b576c7cbd = L.marker(
                [38.905855, -75.432714],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_738bb9a1c30040f0a7ef9e4b0e3f71dc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_f82bbfe1c4bb467e9281820b576c7cbd.setIcon(icon_738bb9a1c30040f0a7ef9e4b0e3f71dc);
        
    
        var popup_b6c8337cb63a444499e0388f16d66c92 = L.popup({"maxWidth": "100%"});

        
            var html_26c67353cc3544a8866105fdb5ee2cff = $(`<div id="html_26c67353cc3544a8866105fdb5ee2cff" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=POLARIS+HEALTHCARE+AND+REHABILITATION+CENTER target="_blank">POLARIS HEALTHCARE AND REHABILITATION CENTER</a></div>`)[0];
            popup_b6c8337cb63a444499e0388f16d66c92.setContent(html_26c67353cc3544a8866105fdb5ee2cff);
        

        marker_f82bbfe1c4bb467e9281820b576c7cbd.bindPopup(popup_b6c8337cb63a444499e0388f16d66c92)
        ;

        
    
    
            var marker_29b675fe49cc42b0937fb06751534f36 = L.marker(
                [39.178459, -75.5379],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_712ee3445b7e4775ac98c8df83c06e27 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_29b675fe49cc42b0937fb06751534f36.setIcon(icon_712ee3445b7e4775ac98c8df83c06e27);
        
    
        var popup_e349ec847b4942d59eb10ef0a6352305 = L.popup({"maxWidth": "100%"});

        
            var html_959dfc4d0cd54d74bf24adae28b6522e = $(`<div id="html_959dfc4d0cd54d74bf24adae28b6522e" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=SILVER+LAKE+CENTER target="_blank">SILVER LAKE CENTER</a></div>`)[0];
            popup_e349ec847b4942d59eb10ef0a6352305.setContent(html_959dfc4d0cd54d74bf24adae28b6522e);
        

        marker_29b675fe49cc42b0937fb06751534f36.bindPopup(popup_e349ec847b4942d59eb10ef0a6352305)
        ;

        
    
    
            var marker_2b08c7ed1cf1403f836a37ae598b8f05 = L.marker(
                [39.763382, -75.49516],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_5502c5ef70944c8b8237f3b43854a561 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_2b08c7ed1cf1403f836a37ae598b8f05.setIcon(icon_5502c5ef70944c8b8237f3b43854a561);
        
    
        var popup_dc2fd4f6bb34473bab293128570973e2 = L.popup({"maxWidth": "100%"});

        
            var html_dad048e6f38f44199e16de52f2c747bc = $(`<div id="html_dad048e6f38f44199e16de52f2c747bc" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=KUTZ+REHABILITATION+AND+NURSING target="_blank">KUTZ REHABILITATION AND NURSING</a></div>`)[0];
            popup_dc2fd4f6bb34473bab293128570973e2.setContent(html_dad048e6f38f44199e16de52f2c747bc);
        

        marker_2b08c7ed1cf1403f836a37ae598b8f05.bindPopup(popup_dc2fd4f6bb34473bab293128570973e2)
        ;

        
    
    
            var marker_1e63445b0a7d4eedaf4b3ff0d9676631 = L.marker(
                [39.15705, -75.502665],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_d6c20658e2ae4bfdb268912876175c1e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_1e63445b0a7d4eedaf4b3ff0d9676631.setIcon(icon_d6c20658e2ae4bfdb268912876175c1e);
        
    
        var popup_0aba006dfea34c5eaa77aaf3e171b8ab = L.popup({"maxWidth": "100%"});

        
            var html_7eb462c3d5d74d9eb7bc5fd1a53ab350 = $(`<div id="html_7eb462c3d5d74d9eb7bc5fd1a53ab350" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=COURTLAND+MANOR target="_blank">COURTLAND MANOR</a></div>`)[0];
            popup_0aba006dfea34c5eaa77aaf3e171b8ab.setContent(html_7eb462c3d5d74d9eb7bc5fd1a53ab350);
        

        marker_1e63445b0a7d4eedaf4b3ff0d9676631.bindPopup(popup_0aba006dfea34c5eaa77aaf3e171b8ab)
        ;

        
    
    
            var marker_686ac0aa14124e10ba3540e2c72f2c39 = L.marker(
                [38.64345, -75.601859],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_c57ebc63e8d04a22bdcaf62089708514 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_686ac0aa14124e10ba3540e2c72f2c39.setIcon(icon_c57ebc63e8d04a22bdcaf62089708514);
        
    
        var popup_a9a736ee1f3144c6a9c4b32e55133a46 = L.popup({"maxWidth": "100%"});

        
            var html_3ceeadec9d504845a79bc3460018795f = $(`<div id="html_3ceeadec9d504845a79bc3460018795f" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=WILLOWBROOKE+COURT+SKILLED+CENTER++AT+MANOR+HOUSE target="_blank">WILLOWBROOKE COURT SKILLED CENTER  AT MANOR HOUSE</a></div>`)[0];
            popup_a9a736ee1f3144c6a9c4b32e55133a46.setContent(html_3ceeadec9d504845a79bc3460018795f);
        

        marker_686ac0aa14124e10ba3540e2c72f2c39.bindPopup(popup_a9a736ee1f3144c6a9c4b32e55133a46)
        ;

        
    
    
            var marker_72179bca1948466bad61f2e4dddb595f = L.marker(
                [39.73572, -75.697113],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_d4978c53029c453fa8c1e445600ccdee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_72179bca1948466bad61f2e4dddb595f.setIcon(icon_d4978c53029c453fa8c1e445600ccdee);
        
    
        var popup_69c231d825b245ceae748feb5abb6dd2 = L.popup({"maxWidth": "100%"});

        
            var html_565a527495f44163863fb1d7ad5b87d2 = $(`<div id="html_565a527495f44163863fb1d7ad5b87d2" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=CADIA+REHABILITATION+PIKE+CREEK target="_blank">CADIA REHABILITATION PIKE CREEK</a></div>`)[0];
            popup_69c231d825b245ceae748feb5abb6dd2.setContent(html_565a527495f44163863fb1d7ad5b87d2);
        

        marker_72179bca1948466bad61f2e4dddb595f.bindPopup(popup_69c231d825b245ceae748feb5abb6dd2)
        ;

        
    
    
            var marker_e4ca0fad758f4e588b2f26af89156dc7 = L.marker(
                [39.290832, -75.598963],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_c6e534d9a5bc4ffd9461ad643c7579f3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e4ca0fad758f4e588b2f26af89156dc7.setIcon(icon_c6e534d9a5bc4ffd9461ad643c7579f3);
        
    
        var popup_b162d9a3803c429aa7abd895ab396f76 = L.popup({"maxWidth": "100%"});

        
            var html_0fc9c52253a846a5b321dddc8a44e00f = $(`<div id="html_0fc9c52253a846a5b321dddc8a44e00f" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=DELAWARE+HOSPITAL+F/T+CHRONICALLY+ILL+(DHCI) target="_blank">DELAWARE HOSPITAL F/T CHRONICALLY ILL (DHCI)</a></div>`)[0];
            popup_b162d9a3803c429aa7abd895ab396f76.setContent(html_0fc9c52253a846a5b321dddc8a44e00f);
        

        marker_e4ca0fad758f4e588b2f26af89156dc7.bindPopup(popup_b162d9a3803c429aa7abd895ab396f76)
        ;

        
    
    
            var marker_9d16fc1126a6404991e5932e96135633 = L.marker(
                [39.781433, -75.60014],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_8e50258ef6654d6fa20e81e6920b76cd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9d16fc1126a6404991e5932e96135633.setIcon(icon_8e50258ef6654d6fa20e81e6920b76cd);
        
    
        var popup_74019c20f4bb41f6a96fd1cf688b2352 = L.popup({"maxWidth": "100%"});

        
            var html_4790d6f331084db2847c5910a45e9075 = $(`<div id="html_4790d6f331084db2847c5910a45e9075" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=STONEGATES target="_blank">STONEGATES</a></div>`)[0];
            popup_74019c20f4bb41f6a96fd1cf688b2352.setContent(html_4790d6f331084db2847c5910a45e9075);
        

        marker_9d16fc1126a6404991e5932e96135633.bindPopup(popup_74019c20f4bb41f6a96fd1cf688b2352)
        ;

        
    
    
            var marker_df57a66a5b5247a7a6f7e27a4cef1092 = L.marker(
                [39.739856, -75.633112],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_83d34129baca4b42a4c50904a12e24cd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_df57a66a5b5247a7a6f7e27a4cef1092.setIcon(icon_83d34129baca4b42a4c50904a12e24cd);
        
    
        var popup_f859fabf423a4f36bde465d5d81b926c = L.popup({"maxWidth": "100%"});

        
            var html_af471624fd3a409d875537487203c8fe = $(`<div id="html_af471624fd3a409d875537487203c8fe" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=BRANDYWINE+NURSING+&+REHABILITATION+CENTER target="_blank">BRANDYWINE NURSING & REHABILITATION CENTER</a></div>`)[0];
            popup_f859fabf423a4f36bde465d5d81b926c.setContent(html_af471624fd3a409d875537487203c8fe);
        

        marker_df57a66a5b5247a7a6f7e27a4cef1092.bindPopup(popup_f859fabf423a4f36bde465d5d81b926c)
        ;

        
    
    
            var marker_aeddab5653ca44b78296a65eb8571c75 = L.marker(
                [39.649276, -75.764739],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_fd42651437544e3c9b3c5c8469060848 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_aeddab5653ca44b78296a65eb8571c75.setIcon(icon_fd42651437544e3c9b3c5c8469060848);
        
    
        var popup_d8781480b6c94db5a8296d4ac1922e84 = L.popup({"maxWidth": "100%"});

        
            var html_b191f5106cdf47929484d3e1d3af079f = $(`<div id="html_b191f5106cdf47929484d3e1d3af079f" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=EXCEPTIONAL+CARE+FOR+CHILDREN target="_blank">EXCEPTIONAL CARE FOR CHILDREN</a></div>`)[0];
            popup_d8781480b6c94db5a8296d4ac1922e84.setContent(html_b191f5106cdf47929484d3e1d3af079f);
        

        marker_aeddab5653ca44b78296a65eb8571c75.bindPopup(popup_d8781480b6c94db5a8296d4ac1922e84)
        ;

        
    
    
            var marker_debd19c8825542fc829afee7fee61f98 = L.marker(
                [39.766154, -75.654254],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_e9a217f9c5a44718b03111bf759c26fb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_debd19c8825542fc829afee7fee61f98.setIcon(icon_e9a217f9c5a44718b03111bf759c26fb);
        
    
        var popup_4c502369536d42fd94a248fb360fc462 = L.popup({"maxWidth": "100%"});

        
            var html_fda2f66d06114500950bd0aa9f6f0b71 = $(`<div id="html_fda2f66d06114500950bd0aa9f6f0b71" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=REGAL+HEIGHTS+HEALTHCARE+&+REHAB+CENTER target="_blank">REGAL HEIGHTS HEALTHCARE & REHAB CENTER</a></div>`)[0];
            popup_4c502369536d42fd94a248fb360fc462.setContent(html_fda2f66d06114500950bd0aa9f6f0b71);
        

        marker_debd19c8825542fc829afee7fee61f98.bindPopup(popup_4c502369536d42fd94a248fb360fc462)
        ;

        
    
    
            var marker_d25a05efa2b842f086d5118b22b16952 = L.marker(
                [39.175335, -75.552223],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_5273fb07d9c04e97b5ecb7d23c093078 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_d25a05efa2b842f086d5118b22b16952.setIcon(icon_5273fb07d9c04e97b5ecb7d23c093078);
        
    
        var popup_6127d792cd2340d9b96525fac237425e = L.popup({"maxWidth": "100%"});

        
            var html_793427c034614f30bae67ead1cc691f6 = $(`<div id="html_793427c034614f30bae67ead1cc691f6" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=WESTMINSTER+VILLAGE+HEALTH target="_blank">WESTMINSTER VILLAGE HEALTH</a></div>`)[0];
            popup_6127d792cd2340d9b96525fac237425e.setContent(html_793427c034614f30bae67ead1cc691f6);
        

        marker_d25a05efa2b842f086d5118b22b16952.bindPopup(popup_6127d792cd2340d9b96525fac237425e)
        ;

        
    
    
            var marker_341823a1a52b4ed3af76fd2ccee175c8 = L.marker(
                [39.261927, -75.586543],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_a55eabadba2c40f19030303fbd8a0a20 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_341823a1a52b4ed3af76fd2ccee175c8.setIcon(icon_a55eabadba2c40f19030303fbd8a0a20);
        
    
        var popup_0f656bd2095f4cc1b219f3d18e9931c4 = L.popup({"maxWidth": "100%"});

        
            var html_7247592f56854c769e01e8750b42591c = $(`<div id="html_7247592f56854c769e01e8750b42591c" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=PINNACLE+REHABILITATION+&+HEALTH+CENTER target="_blank">PINNACLE REHABILITATION & HEALTH CENTER</a></div>`)[0];
            popup_0f656bd2095f4cc1b219f3d18e9931c4.setContent(html_7247592f56854c769e01e8750b42591c);
        

        marker_341823a1a52b4ed3af76fd2ccee175c8.bindPopup(popup_0f656bd2095f4cc1b219f3d18e9931c4)
        ;

        
    
    
            var marker_3acf5dd8277145f8bfd83f4dbc036fbb = L.marker(
                [39.807768, -75.49991],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_dd401395060a4340b4338e38d8b0dca2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_3acf5dd8277145f8bfd83f4dbc036fbb.setIcon(icon_dd401395060a4340b4338e38d8b0dca2);
        
    
        var popup_d4a2f7ef357646879e3f02cafa5503b1 = L.popup({"maxWidth": "100%"});

        
            var html_5c336a43be7240aeaf751903d2000173 = $(`<div id="html_5c336a43be7240aeaf751903d2000173" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=FORWOOD+MANOR target="_blank">FORWOOD MANOR</a></div>`)[0];
            popup_d4a2f7ef357646879e3f02cafa5503b1.setContent(html_5c336a43be7240aeaf751903d2000173);
        

        marker_3acf5dd8277145f8bfd83f4dbc036fbb.bindPopup(popup_d4a2f7ef357646879e3f02cafa5503b1)
        ;

        
    
    
            var marker_fe838b3783834fb288fc102d87a0087d = L.marker(
                [38.906505, -75.44049200000002],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_45c4d490023545818282c82cd2a0e908 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_fe838b3783834fb288fc102d87a0087d.setIcon(icon_45c4d490023545818282c82cd2a0e908);
        
    
        var popup_16f169a54ead413eb5b1ee975e4a3fb7 = L.popup({"maxWidth": "100%"});

        
            var html_9f977f14acac4160ba4224c6473ed456 = $(`<div id="html_9f977f14acac4160ba4224c6473ed456" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=MILFORD+CENTER target="_blank">MILFORD CENTER</a></div>`)[0];
            popup_16f169a54ead413eb5b1ee975e4a3fb7.setContent(html_9f977f14acac4160ba4224c6473ed456);
        

        marker_fe838b3783834fb288fc102d87a0087d.bindPopup(popup_16f169a54ead413eb5b1ee975e4a3fb7)
        ;

        
    
    
            var marker_d8bbfdb661b144cc9ff80923e5091033 = L.marker(
                [38.773268, -75.155561],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_b4bed0c98324476f89cee9b1da537230 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_d8bbfdb661b144cc9ff80923e5091033.setIcon(icon_b4bed0c98324476f89cee9b1da537230);
        
    
        var popup_33e94e9a171c49c4ab175eb5895afc33 = L.popup({"maxWidth": "100%"});

        
            var html_aeb2ab9de38245dd9d4f05ff861ed0b4 = $(`<div id="html_aeb2ab9de38245dd9d4f05ff861ed0b4" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=HARBOR+HEALTHCARE+&+REHAB+CTR target="_blank">HARBOR HEALTHCARE & REHAB CTR</a></div>`)[0];
            popup_33e94e9a171c49c4ab175eb5895afc33.setContent(html_aeb2ab9de38245dd9d4f05ff861ed0b4);
        

        marker_d8bbfdb661b144cc9ff80923e5091033.bindPopup(popup_33e94e9a171c49c4ab175eb5895afc33)
        ;

        
    
    
            var marker_0bb4002579b14efab6e6daf367101e72 = L.marker(
                [39.708955, -75.733949],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_b52a442c22714cec92b6e19224a1000c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_0bb4002579b14efab6e6daf367101e72.setIcon(icon_b52a442c22714cec92b6e19224a1000c);
        
    
        var popup_c60ea164dcc44cf3a58d2924e0d80d2c = L.popup({"maxWidth": "100%"});

        
            var html_ced82cc4e90e46b4a7658cafaf2710de = $(`<div id="html_ced82cc4e90e46b4a7658cafaf2710de" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=MILLCROFT target="_blank">MILLCROFT</a></div>`)[0];
            popup_c60ea164dcc44cf3a58d2924e0d80d2c.setContent(html_ced82cc4e90e46b4a7658cafaf2710de);
        

        marker_0bb4002579b14efab6e6daf367101e72.bindPopup(popup_c60ea164dcc44cf3a58d2924e0d80d2c)
        ;

        
    
    
            var marker_ee26c795c870499a9d1c6357f8e30722 = L.marker(
                [39.44464000000001, -75.715425],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_516b4b071cd541f28803a0b6cace61d4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_ee26c795c870499a9d1c6357f8e30722.setIcon(icon_516b4b071cd541f28803a0b6cace61d4);
        
    
        var popup_2ce6ce3040e9429480faab8f6fb60c76 = L.popup({"maxWidth": "100%"});

        
            var html_16d346b137c7496089df5038c5083ba8 = $(`<div id="html_16d346b137c7496089df5038c5083ba8" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=CADIA+REHABILITATION+BROADMEADOW target="_blank">CADIA REHABILITATION BROADMEADOW</a></div>`)[0];
            popup_2ce6ce3040e9429480faab8f6fb60c76.setContent(html_16d346b137c7496089df5038c5083ba8);
        

        marker_ee26c795c870499a9d1c6357f8e30722.bindPopup(popup_2ce6ce3040e9429480faab8f6fb60c76)
        ;

        
    
    
            var marker_29a03f188352476788b06e3ff27e6719 = L.marker(
                [38.936252, -75.452336],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_957ac4a38f2d4945b141169cf7748aff = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_29a03f188352476788b06e3ff27e6719.setIcon(icon_957ac4a38f2d4945b141169cf7748aff);
        
    
        var popup_51d0673678164d9d8e9a5d2944144dfc = L.popup({"maxWidth": "100%"});

        
            var html_be0fa84685494809afb346fff0f28d72 = $(`<div id="html_be0fa84685494809afb346fff0f28d72" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=DELAWARE+VETERANS+HOME target="_blank">DELAWARE VETERANS HOME</a></div>`)[0];
            popup_51d0673678164d9d8e9a5d2944144dfc.setContent(html_be0fa84685494809afb346fff0f28d72);
        

        marker_29a03f188352476788b06e3ff27e6719.bindPopup(popup_51d0673678164d9d8e9a5d2944144dfc)
        ;

        
    
    
            var marker_f46967297e1a45e7b3952b551b43dae9 = L.marker(
                [39.788146, -75.534211],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_4b2d5ce5075a4368ab948231c1474f00 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_f46967297e1a45e7b3952b551b43dae9.setIcon(icon_4b2d5ce5075a4368ab948231c1474f00);
        
    
        var popup_6e8db03cf33140869edf4e8070227f1f = L.popup({"maxWidth": "100%"});

        
            var html_4db2d1061be2404daf813f71ee87c18b = $(`<div id="html_4db2d1061be2404daf813f71ee87c18b" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=MANORCARE+HEALTH+SERVICES+-+WILMINGTON target="_blank">MANORCARE HEALTH SERVICES - WILMINGTON</a></div>`)[0];
            popup_6e8db03cf33140869edf4e8070227f1f.setContent(html_4db2d1061be2404daf813f71ee87c18b);
        

        marker_f46967297e1a45e7b3952b551b43dae9.bindPopup(popup_6e8db03cf33140869edf4e8070227f1f)
        ;

        
    
    
            var marker_b50b8b3f51344c5c8ddba7e1942c9f0a = L.marker(
                [39.697554, -75.662413],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_94962b2ad22f446e8439689c7a4a014e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_b50b8b3f51344c5c8ddba7e1942c9f0a.setIcon(icon_94962b2ad22f446e8439689c7a4a014e);
        
    
        var popup_a00adb0a13424701beda55cf471f07df = L.popup({"maxWidth": "100%"});

        
            var html_06a4892844e242fdb83cf54226360b58 = $(`<div id="html_06a4892844e242fdb83cf54226360b58" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=CHURCHMAN+VILLAGE target="_blank">CHURCHMAN VILLAGE</a></div>`)[0];
            popup_a00adb0a13424701beda55cf471f07df.setContent(html_06a4892844e242fdb83cf54226360b58);
        

        marker_b50b8b3f51344c5c8ddba7e1942c9f0a.bindPopup(popup_a00adb0a13424701beda55cf471f07df)
        ;

        
    
    
            var marker_2d759bd62d984d108705cee8ebddc86a = L.marker(
                [39.771738000000006, -75.66426],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_0a063b8f0e9244839d3a77671179faba = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_2d759bd62d984d108705cee8ebddc86a.setIcon(icon_0a063b8f0e9244839d3a77671179faba);
        
    
        var popup_f8a3e0d70c6f4717a319c43435fbb7d8 = L.popup({"maxWidth": "100%"});

        
            var html_de5d58d82dbe4ea9ae05bd1373c4afc5 = $(`<div id="html_de5d58d82dbe4ea9ae05bd1373c4afc5" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=WILLOWBROOKE+COURT+AT+COKESBURY+VILLAGE target="_blank">WILLOWBROOKE COURT AT COKESBURY VILLAGE</a></div>`)[0];
            popup_f8a3e0d70c6f4717a319c43435fbb7d8.setContent(html_de5d58d82dbe4ea9ae05bd1373c4afc5);
        

        marker_2d759bd62d984d108705cee8ebddc86a.bindPopup(popup_f8a3e0d70c6f4717a319c43435fbb7d8)
        ;

        
    
    
            var marker_8e02d6790e8a4df3b791f92022247bb4 = L.marker(
                [39.73817, -75.571304],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_0641290a51884348814e2b6b40756e9c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_8e02d6790e8a4df3b791f92022247bb4.setIcon(icon_0641290a51884348814e2b6b40756e9c);
        
    
        var popup_99e268b6f2ad46ac8aeff90894a3ffa2 = L.popup({"maxWidth": "100%"});

        
            var html_405d265ed932458b822fc80f9037191b = $(`<div id="html_405d265ed932458b822fc80f9037191b" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=HILLSIDE+CENTER target="_blank">HILLSIDE CENTER</a></div>`)[0];
            popup_99e268b6f2ad46ac8aeff90894a3ffa2.setContent(html_405d265ed932458b822fc80f9037191b);
        

        marker_8e02d6790e8a4df3b791f92022247bb4.bindPopup(popup_99e268b6f2ad46ac8aeff90894a3ffa2)
        ;

        
    
    
            var marker_368290ea33154e80a5aee4dd4b4aba5d = L.marker(
                [39.639244, -75.631461],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_3b8d7ebf57e14084bdc35f861cecbf5b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_368290ea33154e80a5aee4dd4b4aba5d.setIcon(icon_3b8d7ebf57e14084bdc35f861cecbf5b);
        
    
        var popup_1d049525b845417884efc41ce1a67523 = L.popup({"maxWidth": "100%"});

        
            var html_8edbf0cb74d542e5bdb09dddc3ca7ed3 = $(`<div id="html_8edbf0cb74d542e5bdb09dddc3ca7ed3" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=NEW+CASTLE+HEALTH+AND+REHABILITATION+CENTER target="_blank">NEW CASTLE HEALTH AND REHABILITATION CENTER</a></div>`)[0];
            popup_1d049525b845417884efc41ce1a67523.setContent(html_8edbf0cb74d542e5bdb09dddc3ca7ed3);
        

        marker_368290ea33154e80a5aee4dd4b4aba5d.bindPopup(popup_1d049525b845417884efc41ce1a67523)
        ;

        
    
    
            var marker_81b530a5661e4d849a1bcf5f3d1dd7d8 = L.marker(
                [39.749442, -75.563631],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_0940e0ec71d149f1bddfd565fa3f6d43 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_81b530a5661e4d849a1bcf5f3d1dd7d8.setIcon(icon_0940e0ec71d149f1bddfd565fa3f6d43);
        
    
        var popup_5ab7da78ea004731bdd98a9ccd545f62 = L.popup({"maxWidth": "100%"});

        
            var html_71176b9780ff416e985801afcd754112 = $(`<div id="html_71176b9780ff416e985801afcd754112" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=REGENCY+HEALTHCARE+&+REHAB+CENTER target="_blank">REGENCY HEALTHCARE & REHAB CENTER</a></div>`)[0];
            popup_5ab7da78ea004731bdd98a9ccd545f62.setContent(html_71176b9780ff416e985801afcd754112);
        

        marker_81b530a5661e4d849a1bcf5f3d1dd7d8.bindPopup(popup_5ab7da78ea004731bdd98a9ccd545f62)
        ;

        
    
    
            var marker_27c03e2d40cc4336950a1d64c6bc2ad8 = L.marker(
                [39.754359, -75.580823],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_4d4952a2b48e41cd8f30930a2d15ed11 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_27c03e2d40cc4336950a1d64c6bc2ad8.setIcon(icon_4d4952a2b48e41cd8f30930a2d15ed11);
        
    
        var popup_8c598e0be8024d969de37a357255738b = L.popup({"maxWidth": "100%"});

        
            var html_cb3eee755abf4a40af51623803d774be = $(`<div id="html_cb3eee755abf4a40af51623803d774be" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=PARKVIEW+NURSING target="_blank">PARKVIEW NURSING</a></div>`)[0];
            popup_8c598e0be8024d969de37a357255738b.setContent(html_cb3eee755abf4a40af51623803d774be);
        

        marker_27c03e2d40cc4336950a1d64c6bc2ad8.bindPopup(popup_8c598e0be8024d969de37a357255738b)
        ;

        
    
    
            var marker_ac6d3ae774e146e99ef5f91db1215c88 = L.marker(
                [39.167648, -75.55432],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_1b5e7c96bda446fc81b7cf1b3ed239c5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_ac6d3ae774e146e99ef5f91db1215c88.setIcon(icon_1b5e7c96bda446fc81b7cf1b3ed239c5);
        
    
        var popup_3f61a66ded534110aad26a0ddfb406f7 = L.popup({"maxWidth": "100%"});

        
            var html_768059e28c254d1e889b0bb40207027f = $(`<div id="html_768059e28c254d1e889b0bb40207027f" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=CADIA+REHABILITATION+CAPITOL target="_blank">CADIA REHABILITATION CAPITOL</a></div>`)[0];
            popup_3f61a66ded534110aad26a0ddfb406f7.setContent(html_768059e28c254d1e889b0bb40207027f);
        

        marker_ac6d3ae774e146e99ef5f91db1215c88.bindPopup(popup_3f61a66ded534110aad26a0ddfb406f7)
        ;

        
    
    
            var marker_89fec9f9077245ea976af216ecc71adb = L.marker(
                [39.762188, -75.56197600000002],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_6bd73dc166be4073aad53065c0fa829d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_89fec9f9077245ea976af216ecc71adb.setIcon(icon_6bd73dc166be4073aad53065c0fa829d);
        
    
        var popup_0d221aea384d463bbd9859faf359363b = L.popup({"maxWidth": "100%"});

        
            var html_7b3efab194954eccb2a807936a93a3d0 = $(`<div id="html_7b3efab194954eccb2a807936a93a3d0" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=KENTMERE+REHABILITATION+AND+HEALTHCARE+CENTER target="_blank">KENTMERE REHABILITATION AND HEALTHCARE CENTER</a></div>`)[0];
            popup_0d221aea384d463bbd9859faf359363b.setContent(html_7b3efab194954eccb2a807936a93a3d0);
        

        marker_89fec9f9077245ea976af216ecc71adb.bindPopup(popup_0d221aea384d463bbd9859faf359363b)
        ;

        
    
    
            var marker_33464b184915481bb732036597985e73 = L.marker(
                [39.76731500000001, -75.704058],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_5fc0162bbcb14588bb34af18ef3b84e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_33464b184915481bb732036597985e73.setIcon(icon_5fc0162bbcb14588bb34af18ef3b84e1);
        
    
        var popup_32d1729eeb924c39b393d7db241c4275 = L.popup({"maxWidth": "100%"});

        
            var html_785b8bbfad08437fb2d03e7c7ebedb82 = $(`<div id="html_785b8bbfad08437fb2d03e7c7ebedb82" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=BRACKENVILLE+CENTER target="_blank">BRACKENVILLE CENTER</a></div>`)[0];
            popup_32d1729eeb924c39b393d7db241c4275.setContent(html_785b8bbfad08437fb2d03e7c7ebedb82);
        

        marker_33464b184915481bb732036597985e73.bindPopup(popup_32d1729eeb924c39b393d7db241c4275)
        ;

        
    
    
            var marker_e2e7eedf803e4620892dfc028538e25c = L.marker(
                [39.152378, -75.532669],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_b55edc96fb614ff0a645ab193bdbcd93 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e2e7eedf803e4620892dfc028538e25c.setIcon(icon_b55edc96fb614ff0a645ab193bdbcd93);
        
    
        var popup_45243ce665d248cea9256bf56ddf2ccc = L.popup({"maxWidth": "100%"});

        
            var html_d5d65c78f8854381a53592ea1eaa677f = $(`<div id="html_d5d65c78f8854381a53592ea1eaa677f" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=CENTER+AT+EDEN+HILL,+LLC target="_blank">CENTER AT EDEN HILL, LLC</a></div>`)[0];
            popup_45243ce665d248cea9256bf56ddf2ccc.setContent(html_d5d65c78f8854381a53592ea1eaa677f);
        

        marker_e2e7eedf803e4620892dfc028538e25c.bindPopup(popup_45243ce665d248cea9256bf56ddf2ccc)
        ;

        
    
    
            var marker_c0d292897bb749cfbae49cb1d9adfc39 = L.marker(
                [39.68535, -75.762474],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_62647e9ccc2848aba8409881049068ee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_c0d292897bb749cfbae49cb1d9adfc39.setIcon(icon_62647e9ccc2848aba8409881049068ee);
        
    
        var popup_d09fbea3d9184d469d56af43301e2c4d = L.popup({"maxWidth": "100%"});

        
            var html_efa586c88f53414289dfc7f2e7f925f8 = $(`<div id="html_efa586c88f53414289dfc7f2e7f925f8" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=NEWARK+MANOR+NURSING+HOME target="_blank">NEWARK MANOR NURSING HOME</a></div>`)[0];
            popup_d09fbea3d9184d469d56af43301e2c4d.setContent(html_efa586c88f53414289dfc7f2e7f925f8);
        

        marker_c0d292897bb749cfbae49cb1d9adfc39.bindPopup(popup_d09fbea3d9184d469d56af43301e2c4d)
        ;

        
    
    
            var marker_69e77b240618440ba13c3504b81abb0f = L.marker(
                [39.748675, -75.70134],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_d316db44e8e14ce29cfa850d4ad2409e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_69e77b240618440ba13c3504b81abb0f.setIcon(icon_d316db44e8e14ce29cfa850d4ad2409e);
        
    
        var popup_a1bc04cdbd3747ca93c492f9699b15b6 = L.popup({"maxWidth": "100%"});

        
            var html_82bd52637145486ca309ee2156199485 = $(`<div id="html_82bd52637145486ca309ee2156199485" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=MANORCARE+HEALTH++SERVICES+-+PIKE+CREEK target="_blank">MANORCARE HEALTH  SERVICES - PIKE CREEK</a></div>`)[0];
            popup_a1bc04cdbd3747ca93c492f9699b15b6.setContent(html_82bd52637145486ca309ee2156199485);
        

        marker_69e77b240618440ba13c3504b81abb0f.bindPopup(popup_a1bc04cdbd3747ca93c492f9699b15b6)
        ;

        
    
    
            var marker_93333fde04084ab4b3ae8db715040545 = L.marker(
                [39.753209, -75.555537],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_c93165db888f4f03a0cd7daf3759c7a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_93333fde04084ab4b3ae8db715040545.setIcon(icon_c93165db888f4f03a0cd7daf3759c7a1);
        
    
        var popup_beba028369c046bb85f649b1624ddb66 = L.popup({"maxWidth": "100%"});

        
            var html_fa7c70954a2745b5913e8b4fdfe3cb39 = $(`<div id="html_fa7c70954a2745b5913e8b4fdfe3cb39" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=GILPIN+HALL target="_blank">GILPIN HALL</a></div>`)[0];
            popup_beba028369c046bb85f649b1624ddb66.setContent(html_fa7c70954a2745b5913e8b4fdfe3cb39);
        

        marker_93333fde04084ab4b3ae8db715040545.bindPopup(popup_beba028369c046bb85f649b1624ddb66)
        ;

        
    
    
            var marker_4ec2552c2d7442b6b8db9de1ed78fbd7 = L.marker(
                [39.664514, -75.696313],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_caeda6c82331463787e158429dab7f7c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_4ec2552c2d7442b6b8db9de1ed78fbd7.setIcon(icon_caeda6c82331463787e158429dab7f7c);
        
    
        var popup_31ee5d9a4f094765a3618248582fa741 = L.popup({"maxWidth": "100%"});

        
            var html_36c3684355394fe98a9e81c44c5f26c3 = $(`<div id="html_36c3684355394fe98a9e81c44c5f26c3" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=JEANNE+JUGAN+RESIDENCE target="_blank">JEANNE JUGAN RESIDENCE</a></div>`)[0];
            popup_31ee5d9a4f094765a3618248582fa741.setContent(html_36c3684355394fe98a9e81c44c5f26c3);
        

        marker_4ec2552c2d7442b6b8db9de1ed78fbd7.bindPopup(popup_31ee5d9a4f094765a3618248582fa741)
        ;

        
    
    
            var marker_ec5c67a3a9f2428492ecf34ef35ed746 = L.marker(
                [39.795506, -75.526932],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_81c379f8cacc494d88cd7f693cb2c92d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_ec5c67a3a9f2428492ecf34ef35ed746.setIcon(icon_81c379f8cacc494d88cd7f693cb2c92d);
        
    
        var popup_b83759d2dd1042928c42b71596eb2877 = L.popup({"maxWidth": "100%"});

        
            var html_c84fa81c0ab34cbb8452116f86361ea2 = $(`<div id="html_c84fa81c0ab34cbb8452116f86361ea2" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=FIVE+STAR+FOULK+MANOR+NORTH+LLC target="_blank">FIVE STAR FOULK MANOR NORTH LLC</a></div>`)[0];
            popup_b83759d2dd1042928c42b71596eb2877.setContent(html_c84fa81c0ab34cbb8452116f86361ea2);
        

        marker_ec5c67a3a9f2428492ecf34ef35ed746.bindPopup(popup_b83759d2dd1042928c42b71596eb2877)
        ;

        
    
    
            var marker_debda1c821be4a949fd7333ad1a50bdf = L.marker(
                [38.692618, -75.396229],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_76df605924094d73b29de27403473652 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_debda1c821be4a949fd7333ad1a50bdf.setIcon(icon_76df605924094d73b29de27403473652);
        
    
        var popup_8ea7cb6f568645098ed72221f8d131e6 = L.popup({"maxWidth": "100%"});

        
            var html_af6954f229bf45ce91446369a36388fd = $(`<div id="html_af6954f229bf45ce91446369a36388fd" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=HARRISON+SENIOR+LIVING+OF+GEORGETOWN,+LLC target="_blank">HARRISON SENIOR LIVING OF GEORGETOWN, LLC</a></div>`)[0];
            popup_8ea7cb6f568645098ed72221f8d131e6.setContent(html_af6954f229bf45ce91446369a36388fd);
        

        marker_debda1c821be4a949fd7333ad1a50bdf.bindPopup(popup_8ea7cb6f568645098ed72221f8d131e6)
        ;

        
    
    
            var marker_b811bd11d4c84c05af29069da76670ed = L.marker(
                [38.458737, -75.575805],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_ffdebecddb3246a0be2c6c2eb5056044 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_b811bd11d4c84c05af29069da76670ed.setIcon(icon_ffdebecddb3246a0be2c6c2eb5056044);
        
    
        var popup_f2cd58f5d93e41b5a8d3f12856a19981 = L.popup({"maxWidth": "100%"});

        
            var html_5279020a7aef48fa9fdd13b1dede2da2 = $(`<div id="html_5279020a7aef48fa9fdd13b1dede2da2" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=DELMAR+NURSING+&+REHABILITATION+CENTER target="_blank">DELMAR NURSING & REHABILITATION CENTER</a></div>`)[0];
            popup_f2cd58f5d93e41b5a8d3f12856a19981.setContent(html_5279020a7aef48fa9fdd13b1dede2da2);
        

        marker_b811bd11d4c84c05af29069da76670ed.bindPopup(popup_f2cd58f5d93e41b5a8d3f12856a19981)
        ;

        
    
    
            var marker_119ab320c1fa4f18a50d816cbf1fe828 = L.marker(
                [38.58661, -75.294488],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_f502498b861c4db2b1d16d30dc7e66b1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_119ab320c1fa4f18a50d816cbf1fe828.setIcon(icon_f502498b861c4db2b1d16d30dc7e66b1);
        
    
        var popup_37d9a38a0036443a927f595bd490d8e4 = L.popup({"maxWidth": "100%"});

        
            var html_b56edb11abe245eb959c38b4693f6b5d = $(`<div id="html_b56edb11abe245eb959c38b4693f6b5d" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=ATLANTIC+SHORES+REHABILITATION+&+HEALTH+CENTER target="_blank">ATLANTIC SHORES REHABILITATION & HEALTH CENTER</a></div>`)[0];
            popup_37d9a38a0036443a927f595bd490d8e4.setContent(html_b56edb11abe245eb959c38b4693f6b5d);
        

        marker_119ab320c1fa4f18a50d816cbf1fe828.bindPopup(popup_37d9a38a0036443a927f595bd490d8e4)
        ;

        
    
    
            var marker_e8161a7c73be49809b24708ae3b46d28 = L.marker(
                [38.63064, -75.195479],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_2934a870d68e427796e903f2eda4c5f5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e8161a7c73be49809b24708ae3b46d28.setIcon(icon_2934a870d68e427796e903f2eda4c5f5);
        
    
        var popup_425622e47bb3416f9067eb78b9c48b6a = L.popup({"maxWidth": "100%"});

        
            var html_4597090270f14274b67ad18344c201e4 = $(`<div id="html_4597090270f14274b67ad18344c201e4" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=CADIA+REHABILITATION+RENAISSANCE target="_blank">CADIA REHABILITATION RENAISSANCE</a></div>`)[0];
            popup_425622e47bb3416f9067eb78b9c48b6a.setContent(html_4597090270f14274b67ad18344c201e4);
        

        marker_e8161a7c73be49809b24708ae3b46d28.bindPopup(popup_425622e47bb3416f9067eb78b9c48b6a)
        ;

        
    
    
            var marker_29f8b4ff94ce4ff1aeb0ba2786f2928b = L.marker(
                [38.755097, -75.140141],
                {}
            ).addTo(map_ffcf387b3f2446d9ab585c7094e23683);
        
    
            var icon_fb22f48cdb7d4d3a8932e7ab134f714d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_29f8b4ff94ce4ff1aeb0ba2786f2928b.setIcon(icon_fb22f48cdb7d4d3a8932e7ab134f714d);
        
    
        var popup_f3d16a2e1edd4c7ca721f2d5d15c5362 = L.popup({"maxWidth": "100%"});

        
            var html_1c5c84baa829478ca8a4ea4af5624781 = $(`<div id="html_1c5c84baa829478ca8a4ea4af5624781" style="width: 100.0%; height: 100.0%;"><a href= /report?facility_name=THE+MOORINGS+AT+LEWES target="_blank">THE MOORINGS AT LEWES</a></div>`)[0];
            popup_f3d16a2e1edd4c7ca721f2d5d15c5362.setContent(html_1c5c84baa829478ca8a4ea4af5624781);
        

        marker_29f8b4ff94ce4ff1aeb0ba2786f2928b.bindPopup(popup_f3d16a2e1edd4c7ca721f2d5d15c5362)
        ;

        
    
</script>