<!-- Home Page --> 

{% block body %}
<p>
    This is a report about {{facility_name}}.
</p>
<br><br>
<h3>
Data Reporting Details:
</h3>
<!-- Home Page --> 
<table class="centered thick-border">
    {% for a, b in covid_report.items() %}
            <tr>
                    <td>{{ a }}</td>
                    <td>{{ b }}</td>
            </tr>
    {% endfor %}
</table>




<br>
<form action = "/myfacilities" method = "post">
    <input type = "submit" value = "Save This Facility" ></input>
</form>
<form action = "/" method = "get">
    <input type = "submit" value = "Find Another Facility" ></input>
</form>


{% endblock %}